.graph_size{
  width: 100%;
  height: 100%; 
  position:relative;
}
.plot-container {
  width: 100%;
  height: 500px;
}
button {
  background: blue;
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  font-size: 20px;
}

button.red {
  background: red;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.heart-rate-display {
  display: flex;
  align-items: center;
  font-size: 24px; /* Adjust the size as needed */
}

.heart {
  animation: heartbeat var(--animation-duration, 1s) infinite; /* Adjust the animation duration as needed */
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5); /* Adjust the scale factor for the "pounding" effect */
  }
  100% {
    transform: scale(1);
  }
}